<a href="http://www.m1l05z.pl/ckeditor/samples/index.html" target="blank">Edytor HTML </a>
 <% if @website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@website.errors.count, "error") %> prohibited this website from being saved:</h2>

      <ul>
      <% @website.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <center>
    <%= f.label :tytuł_strony, :class => "website_form_tytul" %>
    <%= f.text_field :tytul, :class => "website_form_tytul_input" %>
   </center>
  </div>
  <div class="form_pozycja">
  <%= f.label :pozycja_w_kategoriach, :id => "pozycja_label" %>
  <% if @website.pozycja != nil %>
  <center><%= f.select(:pozycja, options_for_select((1..@websites.count+1),@website.pozycja.to_i)) %></center>
  <% else %>
  <center><%= f.select(:pozycja, options_for_select((1..@websites.count+1),@websites.count+1)) %></center>
  <% end %>
  </div>
  <div class="field">
    <b><%= f.label :kod_strony_html, :id => "kod_strony_label" %></b>
    <%= f.text_area :kod_strony, :class => "website_text_area"%>
  </div>
